.ecomm {
  font-family: 'Open Sans Condensed' !important;
  padding: 20px 40px;
  // background-color: darkseagreen !important;

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}